<nav class="navbar navbar-expand-lg py-3 px-3 mx-3 my-2 rounded-4 shadow-sm border border-white border-opacity-70" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand fw-medium text-dark fs-4 d-flex align-items-center" routerLink="/">
      ENGL321 - NK & JN - Environmental Impacts of LLM's <i class="bi bi-sparkles ms-2 text-primary small"></i>
    </a>
    
    <div class="navbar-nav ms-auto gap-2 p-1 rounded-pill" style="background-color: #e9eef6;">
      <a class="nav-link px-4 rounded-pill fw-medium small text-dark" 
         routerLink="/" 
         routerLinkActive="active-light" 
         [routerLinkActiveOptions]="{exact: true}">
         Home
      </a>
      <a class="nav-link px-4 rounded-pill fw-medium small text-dark" 
         routerLink="/water-energy" 
         routerLinkActive="active-light">
         Energy & Water
      </a>
      <a class="nav-link px-4 rounded-pill fw-medium small text-dark" 
         routerLink="/air-noise" 
         routerLinkActive="active-light">
         Air & Noise
      </a>
      <a class="nav-link px-4 rounded-pill fw-medium small text-dark" 
         routerLink="/solutions" 
         routerLinkActive="active-light">
         Solutions
      </a>
    </div>
  </div>
</nav>