html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f4f9 !important;
  color: #1f1f1f;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  margin: 0;
}